CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

CONFIG_LWIP_LOCAL_HOSTNAME="PacketChatMesh"

# Custom partition table for 16MB flash with OTA support
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="boards/PACKETCHATMESH/partitions-16MB-ota.csv"

#CONFIG_TINYUSB_DESC_CUSTOM_VID=0x303A
#CONFIG_TINYUSB_DESC_CUSTOM_PID=0x80D7
#CONFIG_TINYUSB_DESC_BCD_DEVICE=0x0100
#CONFIG_TINYUSB_DESC_USE_ESPRESSIF_VID=n
#CONFIG_TINYUSB_DESC_USE_DEFAULT_PID=n
#CONFIG_TINYUSB_DESC_MANUFACTURER_STRING="PacketChat"
#CONFIG_TINYUSB_DESC_PRODUCT_STRING="PacketChatMesh"
#CONFIG_TINYUSB_DESC_SERIAL_STRING="_pcb_"
